#!/bin/sh

if qvm-check --quiet --running "{{ phonevm }}" 2> /dev/null; then
{%- for phoneref in phonerefs -%}
{%      for device in phoneref.devices %}
    #
    # Allow automatic attachment to dev-phone of {{ device['desc'] }}
    #
    if qvm-usb | grep "{{ device['id'] }}" > /dev/null 2>&1; then
        domdev=`qvm-usb | grep "{{ device['id'] }}" | cut -d' ' -f1`
        qvm-usb attach {{ phonevm }} ${domdev}
    fi
{%      endfor %}
{%- endfor -%}
fi
